body {
  margin: 0px;
  background-image: url("https://t3.ftcdn.net/jpg/01/92/29/66/360_F_192296655_YUQNVXj70AolKCkHxkeWA0P2jRavYKHx.jpg");
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.component {
  /* background-color: white; */
  width: 600px;
  height: 600px;
  margin: 1em auto;
  padding-bottom: 2em;
  border: 2px solid black;
  box-shadow: 2px 2px 20px red;
  text-align: center;
  border-radius: 10%;
}

.musicCover {
  border-radius: 10%;
  width: 400px;
  height: 400px;
}

.subTitle {
  margin-top: -1em;
  color: #4f4f4f;
}

input[type="range"] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}
